h1 {
  font-size: 2rem;
}

h4.card-title {
  font-size: 1.7rem;
}

h6 {
  font-weight: 300;
  line-height: 1.3;
  font-size: 1rem;
  max-width: 21rem;
}

.navbar {
  padding-top: .5rem;
  padding-bottom: .7rem;
}

.navbar-toggler-icon {
  height: 2.15rem;
  width: 2.15rem;
}

.navbar-brand {
  padding-top: .2rem;
}

.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
  font-size: 1.15rem;
}

.btn {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  min-width: 9rem;
  min-height: 3rem;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  text-decoration: none;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.btn:active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.profile-header-nav .nav-item.active>.nav-link {
  background-color: #005960;
  font-weight: 400;
}

.profile-header-nav .nav-item>.nav-link {
  margin-top: 10px;
  border: .3rem solid #005960;
  border-left: none;
  background-color: #303030;
  min-height: 4rem;
}

.profile-header-nav .nav-item:first-of-type>.nav-link {
  border-left: .3rem solid #005960;
}

.profile-header-nav .nav-item:not(.active)>.nav-link {
  border-bottom: .3rem solid #303030;
}

.profile-header-nav .nav-item {
  flex: 0 0 33.3%;
  width: 33.3%;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.profile-header-nav .nav-link {
  font-size: .81rem;
  width: 100%;
}

.card-block>p {
  font-size: 1.1rem;
}

.bg-ltd {
  background-color: #005960;
}

.btn-see-more {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.bg-barber-red {
  background-color: #fe0100;
}

.bg-strikeforce {
  background-color: #434857;
}

.bg-mofh {
  background-color: goldenrod;
}

.btn-see-more,
.btn-send,
.btn-secondary {
  color: #fff;
  text-transform: uppercase;
  border-radius: 0.45rem;
  font-size: .85rem;
  line-height: .85rem;
}

.btn-send>.fas {
  font-size: 1.3rem;
}

.btn-send {
  color: #fff;
  font-weight: 500;
  font-size: .9rem;
  background-color: #007bff;
  border: 1px solid #007bff;
}

.text-see-more {
  display: inline-block;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.card-profile .card-header {
  height: 8rem;
}

.card-profile .card-about-header {
  height: 9.25rem;
}

.profile-header {
  background: url(../images/main-wallpaper_min.jpg) no-repeat center center;
  background-size: cover;
  min-height: 28.5rem;
}

.card-container,
footer {
  background-color: #303030;
}

.py-2_5 {
  padding-top: .65rem;
  padding-bottom: .65rem;
}

.mt-4_5 {
  margin-top: 2rem;
}

.mb-4_5 {
  margin-bottom: 2rem;
}

.social-icons {
  font-size: 1.85rem;
}

.social-icons>a {
  color: #fff;
}

.social-icons>a:not(:last-of-type) {
  margin-right: 1.5rem;
}

.copyright {
  color: #fdfdfd;
  font-size: .9rem;
}

footer {
  position: relative;
  top: -1px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1.1rem;
  z-index: 98;
  padding: 0.2rem 1.8rem;
  border-radius: .4rem;
  font-size: 2rem;
  background-color: #005960;
  color: #fdfdfd;
}

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
}

.card-header.bg-ltd {
  position: relative;
  top: -.3rem;
}

.about-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-about,
.card-about-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.get-in-touch {
  font-weight: 400;
}

.featured-list {
  list-style: none;
}

.featured-list-item {
  position: relative;
  padding-left: 5rem;
}

.featured-list-icon {
  border: 1px solid #d3d9df;
  border-radius: 50%;
  height: 3.3rem;
  width: 3.3rem;
  line-height: 48px;
  position: absolute;
  top: .6rem;
  left: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  color: #005960;
}

.card-skills-header,
.card-focus-header {
  width: calc(100% + 2px);
  position: relative;
  left: -1px;
  top: -1px;
}

.card-skills-header h3,
.card-focus-header h3 {
  font-weight: 400;
}

.form-group {
  max-width: 20rem;
}

.form-control {
  padding-top: .75rem;
  padding-bottom: .75rem;
  border-radius: .25rem;
}

textarea {
  padding: .75rem .75rem;
  color: #464a4c;
  border-radius: .25rem;
}

textarea::placeholder {
  color: #9da9b0;
}

textarea:focus {
  border: 1px solid #5cb3fd;
  color: #464a4c;
  outline: none;
}

#contact-main {
  background-color: #303030;
}

.contact-container {
  background-color: #005960;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  top: -.3rem;
}

.alert {
  color: #434857;
  width: 100%;
  font-weight: 600;
  padding: .35rem 1rem;
  font-size: .9rem;
  position: relative;
}

.alert-warning {
  background-color: #e4d836;
  border: 2px solid #8a6d3b;
}

.alert-danger {
  background-color: #ea6272;
  border-color: #b4182b;
  color: #430910;
}

.alert-para {
  margin: .125rem .25rem .6rem;
  line-height: 1.2;
}

.alert-para-inner {
  margin-bottom: .2rem;
}

.alert .icon {
  font-size: 1.35rem;
}

.alert-dismissible .close {
  position: absolute;
  top: .1rem;
  right: .3rem;
}

.emphasise {
  color: #007bff;
  font-weight: 700;
}

.modal-header {
  position: relative;
}

.modal .close {
  position: absolute;
  top: .6rem;
  right: 1.2rem;
  cursor: pointer;
  font-size: 2rem;
  color: #fdfdfd;
}

.modal-body {
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 400;
}

.fa-handshake {
  font-size: 1.4rem;
  color: #005960;
  position: relative;
  top: .15rem;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: pointer;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgb(130 138 145 / 50%);
}

.btn-secondary:active {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
  box-shadow: 0 0 0 0.2rem rgb(0 92 191 / 50%);
}

/* Code block adapted from https://stackoverflow.com/questions/50579924/bootstrap-modal-not-showing-properly-centered */

.modal-dialog-wrapper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  max-width: inherit;
  /* For Bootstrap 4 - to prevent the modal window from stretching full width */
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

#about-laptop {
  animation: laptop-move 3000ms ease-in-out 1200ms 1 normal forwards;
  position: relative;
  opacity: 0;
}

@keyframes laptop-move {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  40% {
    left: -7rem;
    opacity: 1;
  }

  60% {
    left: 7rem;
    opacity: 1;
  }

  70% {
    left: -3.5rem;
    opacity: 1;
  }

  85% {
    left: 3.5rem;
    opacity: 1;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

/* Media Queries */

@media (min-width: 768px) {

  h1 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2rem;
  }

  h6 {
    font-weight: 300;
    line-height: 1.4;
    font-size: 1.15rem;
    max-width: 25rem;
  }

  .app-navbar .navbar-brand img {
    width: 12.5rem;
  }

  .navbar {
    padding-top: .6rem;
    padding-bottom: .8rem;
  }

  .navbar-nav .nav-link.pt-3 {
    padding-top: .5rem !important;
  }

  .py-2_5 {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .mt-md-4_5 {
    margin-top: 2rem;
  }

  .mb-md-4_5 {
    margin-bottom: 2.25rem !important;
  }

  .btn {
    min-width: 12.5rem;
  }

  textarea {
    min-height: 11rem;
  }

  .navbar-nav {
    position: relative;
    right: 0;
    margin-left: auto;
  }

  .navbar-nav .nav-link,
  .navbar-nav .dropdown-item {
    font-size: 1.15rem;
  }

  .dropdown-menu {
    left: unset;
    margin-top: .7rem;
    border: none;
  }

  .profile-header .media-object {
    width: 13rem;
  }

  .profile-header-bio {
    font-size: 1.45rem;
  }

  .social-icons {
    font-size: 2rem;
  }

  h4.card-title {
    font-size: 2.2rem;
  }

  .profile-header-nav .nav-link {
    font-size: 1rem;
  }

  .py-md-3_5 {
    padding-top: 1.3rem !important;
    padding-bottom: 1.3rem !important;
  }

  .dropdown-item.py-2_5 {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  .card-block>p {
    font-size: 1.2rem;
  }

  .btn-see-more.py-3,
  .btn-send.py-3 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    font-size: .95rem;
    line-height: .95rem;
  }

  #card-block-clipadvisor,
  #card-block-strikeforce,
  #card-block-mofh {
    background-color: #e9e9e9;
  }

  .copyright {
    font-size: 1.1rem;
  }

  #btn-back-to-top {
    bottom: 1.25rem;
    right: 3rem;
    z-index: 98;
    padding: 0.2rem 2.5rem;
    border-radius: .4rem;
  }

  .card-profile .card-about-header {
    height: 11rem;
  }

  #about-laptop {
    transform: scale(1.3);
  }

  .featured-list {
    max-width: 100%;
  }

  .featured-list-item {
    flex: 0 1 50%;
  }

  .card-skills-header,
  .card-focus-header {
    left: 0;
    margin-left: -22px;
    margin-right: -43px;
    width: calc(100% + 65px);
  }

  .card-skills-header.py-4,
  .card-focus-header.py-4 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
  }

  #css-icon {
    top: 2.6rem;
  }

  #current-focus {
    order: -3;
  }

  #react {
    order: -2;
  }

  #django {
    order: -1;
  }

  .app-login-form {
    max-width: 30rem;
  }

  .form-group {
    max-width: 25rem;
  }

  @keyframes laptop-move {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    25% {
      left: 0;
      opacity: 1;
    }

    50% {
      left: -13rem;
      opacity: 1;
    }

    60% {
      left: 12rem;
      opacity: 1;
    }

    70% {
      left: -5.5rem;
      opacity: 1;
    }

    85% {
      left: 4.5rem;
      opacity: 1;
    }

    100% {
      left: 0;
      opacity: 1;
    }
  }
}

@media (min-width: 992px) {
  .app-navbar .navbar-brand img {
    width: 14rem;
  }

  .profile-header {
    height: 31.5rem;
    background: url(../images/main-wallpaper-lg_greyscale_min.jpg) no-repeat center center;
    background-size: cover;
  }

  .profile-header-nav .nav-item {
    flex: 0 0 25%;
    max-width: 18rem;
  }

  .py-md-3_5 {
    padding-top: 1.1rem !important;
    padding-bottom: 1.1rem !important;
  }

  .card-profile .card-header {
    height: 6rem;
  }

  .card-profile-img {
    max-width: 6.5rem;
    margin-top: -4.55rem;
  }

  .profile-header-nav .nav-item>.nav-link {
    background-color: #282828;
  }

  .profile-header-nav .nav-item:not(.active)>.nav-link {
    border-bottom: .3rem solid #282828;
  }

  .project-blurb {
    font-size: 1.2rem;
  }
}